# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]


# =========================================================
# DATABASE
# =========================================================

*.sqlite3


# =========================================================
# ENVIRONMENT / SECRETS
# =========================================================

.env
.env.*
.venv/
venv/
env/


# =========================================================
# DJANGO STATIC FILES
# =========================================================

staticfiles/


# =========================================================
# LOG FILES
# =========================================================

*.log


# =========================================================
# PRIVATE USER UPLOADS
# =========================================================

media/account_profiles/
media/customer_ids/
media/job_applications/
media/skilled_workers/

local_database.json